## Data Parsing Test

In [27]:
import pandas as pd
import numpy as np

### Three types of time values in the text file

In [127]:
strTime0 = '36.299' # no hours, no minutes, 36.299 seconds
strTime1 = '0:36.299' # no hours, zero minutes, 36.299 seconds
strTime2 = '1:05:33.264' # 1 hour, 5 minutes, 33.264 seconds (fullest string)

### Example with Seconds only

In [129]:
#pd.to_datetime(strTime1)
print("strTime0:    ", strTime0)
print("Timestamp (with prepend M): ", pd.Timestamp('0:' + strTime0), "\tWRONG!!")
print("to_datetime unit=s:         ", pd.to_datetime(strTime0, unit='s')) # --> works correct
print("to_datetime coerce:         ", pd.to_datetime(strTime0, errors='coerce'))
print("to_datetime ignore:         ", pd.to_datetime(strTime0, errors='ignore'))
#print("to_datetime unit=s", pd.to_datetime(strTime0, exact = False)) # --> error

strTime0:     36.299
Timestamp (with prepend M):  2017-07-06 00:36:17 	WRONG!!
to_datetime unit=s:          1970-01-01 00:00:36.299000
to_datetime coerce:          NaT
to_datetime ignore:          36.299

### Example with Minutes and Seconds

In [130]:
print("strTime1:  ", strTime1)

# Timestamp with default settings gets the time wrong and uses today's date
print("Timestamp:             ", pd.Timestamp(strTime1))

# to_datetime with default settings gets the time wrong with today's date
print("to_datetime:           ", pd.to_datetime(strTime1))

# to_datetime with improved input string and correct format gets the time right with default date
print("formatted to_datetime: ", pd.to_datetime('0:' + strTime1, format='%H:%M:%S.%f'))

strTime1:   0:36.299
Timestamp:              2017-07-06 00:36:17
to_datetime:            2017-07-06 00:36:17
formatted to_datetime:  1900-01-01 00:00:36.299000

### Example with Hours, Minutes, and Seconds

In [185]:
print("strTime2:   ", strTime2)

# default settings gets the time right and uses today's date
print("Timestamp:                       ", pd.Timestamp(strTime2))

# default settings gets the time right and uses today's date
print("to_datetime:                     ", pd.to_datetime(strTime2))

# specified format gets the time right and uses beginning of time
print("formatted to_datetime:           ", pd.to_datetime(strTime2, format='%H:%M:%S.%f'))

print("formatted to_datetime (inexact): ", pd.to_datetime('0:0:' + strTime2, exact = False, format='%H:%M:%S.%f'))
print("formatted to_datetime (inexact): ", pd.to_datetime('0:' + strTime2, exact = False, format='%H:%M:%S.%f'))
print("formatted to_datetime (inexact): ", pd.to_datetime(strTime2, exact = False, format='%H:%M:%S.%f'))

print()

print(pd.to_datetime('0:0:' + strTime0, exact = False, format='%H:%M:%S.%f').time())
print(pd.to_datetime('0:0:' + strTime1, exact = False, format='%H:%M:%S.%f').time())
#print(pd.to_datetime('0:0:' + "" + '0'      , exact = False, errors='coerce', format='%H:%M:%S.%f').time())

strTime2:    1:05:33.264
Timestamp:                        2017-07-07 01:05:33.264000
to_datetime:                      2017-07-07 01:05:33.264000
formatted to_datetime:            1900-01-01 01:05:33.264000
formatted to_datetime (inexact):  1900-01-01 01:05:33.264000
formatted to_datetime (inexact):  1900-01-01 01:05:33.264000
formatted to_datetime (inexact):  1900-01-01 01:05:33.264000

00:00:36.299000
00:00:36.299000

### Within a Column

In [186]:
# construct simple data frame for testing
dfTest = pd.DataFrame(columns=["Time"], data = [[strTime0], [strTime1], [strTime2]])
#dfTest['Time'] = pd.column([]) 
dfTest

#
print("Here is our frame with a single time column")
print(dfTest)
print()

# add a column to the frame with the parsed time
dfTest['TParsed'] = pd.to_datetime('0:0:' + dfTest['Time'],exact=False, format = "%H:%M:%S.%f")

print("Here it is with the parsed time")
print(dfTest)

Here is our frame with a single time column
          Time
0       36.299
1     0:36.299
2  1:05:33.264

Here it is with the parsed time
          Time                 TParsed
0       36.299 1900-01-01 00:00:36.299
1     0:36.299 1900-01-01 00:00:36.299
2  1:05:33.264 1900-01-01 01:05:33.264

In [236]:
filename1 = "C:/Users/FullerBL/Documents/DataTestProject/testcsv.csv"
filename2 = "C:/Users/FullerBL/Documents/DataTestProject/testcsv2.csv"

df = pd.read_csv(filename2)

# remove rows with null/NaN/NaT values
df = df.dropna(axis=0)

df['Time'] = pd.to_datetime('0:0:' + df['Time'] + '0', 
                            exact = False, errors='ignore', format = "%H:%M:%S.%f").apply(lambda x: x.time())
df['T1Prime'] = pd.to_datetime('0:0:' + df['T1Prime'] + '0', 
                               exact=False, errors='ignore', format = "%H:%M:%S.%f").apply(lambda x: x.time())
df['T2Prime'] = pd.to_datetime('0:0:' + df['T2Prime'] + '0', 
                               exact=False, errors='ignore', format = "%H:%M:%S.%f").apply(lambda x: x.time())
df['T3Prime'] = pd.to_datetime('0:0:' + df['T3Prime'] + '0', 
                               exact=False, errors='ignore', format = "%H:%M:%S.%f").apply(lambda x: x.time())

df['Time'] = df['Time'].apply(lambda x: ((x.hour*60+x.minute)*60+x.second)*1000000+x.microsecond)/1000000
df['T1Prime'] = df['T1Prime'].apply(lambda x: ((x.hour*60+x.minute)*60+x.second)*1000000+x.microsecond)/1000000
df['T2Prime'] = df['T2Prime'].apply(lambda x: ((x.hour*60+x.minute)*60+x.second)*1000000+x.microsecond)/1000000
df['T3Prime'] = df['T3Prime'].apply(lambda x: ((x.hour*60+x.minute)*60+x.second)*1000000+x.microsecond)/1000000

print(df.shape)

df

(18132, 10)

,SN,UID,SampleID,Time,T1,T2,T3,T1Prime,T2Prime,T3Prime
0,1,0,1,205.585,36.299,1:17.464,1:31.822,36.299,77.464,91.822
1,1,0,2,199.090,31.784,1:16.563,1:30.743,31.784,76.563,90.743
2,1,0,3,198.805,31.666,1:16.408,1:30.731,31.666,76.408,90.731
3,1,0,4,199.472,31.902,1:16.720,1:30.850,31.902,76.720,90.850
4,1,0,5,199.449,31.712,1:16.635,1:31.102,31.712,76.635,91.102
5,1,0,6,202.183,32.480,1:16.841,1:32.862,32.480,76.841,92.862
6,1,0,7,262.132,33.036,2:08.342,1:40.754,33.036,128.342,100.754
7,1,0,8,200.983,32.344,1:17.031,1:31.608,32.344,77.031,91.608
8,1,0,9,200.174,32.101,1:16.701,1:31.372,32.101,76.701,91.372
9,1,0,10,200.019,31.895,1:16.292,1:31.832,31.895,76.292,91.832
10,1,0,11,203.269,32.810,1:16.387,1:34.072,32.810,76.387,94.072
11,1,0,12,202.043,32.129,1:16.220,1:33.694,32.129,76.220,93.694
12,1,0,13,210.883,32.791,1:17.303,1:40.789,32.791,77.303,100.789
13,1,0,14,260.676,1:29.511,1:17.325,1:33.840,89.511,77.325,93.840
14,1,0,15,206.623,33.321,1:18.127,1:35.175,33.321,78.127,95.175
15,1,0,16,201.501,32.425,1:17.391,1:31.685,32.425,77.391,91.685
16,1,0,17,201.580,32.132,1:17.566,1:31.882,32.132,77.566,91.882
17,1,0,18,200.774,32.023,1:16.748,1:32.003,32.023,76.748,92.003
18,1,0,19,202.575,32.039,1:16.976,1:33.560,32.039,76.976,93.560
19,1,0,20,201.908,32.626,1:17.303,1:31.979,32.626,77.303,91.979
20,1,0,21,203.771,31.982,1:16.685,1:35.104,31.982,76.685,95.104
21,1,0,22,205.759,33.345,1:17.653,1:34.761,33.345,77.653,94.761
22,1,0,23,236.833,31.954,1:16.428,2:08.451,31.954,76.428,128.451
23,1,0,24,239.526,32.334,1:17.086,2:10.106,32.334,77.086,130.106
24,1,0,25,238.059,32.353,1:17.176,2:08.530,32.353,77.176,128.530
25,1,0,26,243.910,32.154,1:16.437,2:15.319,32.154,76.437,135.319
26,1,0,27,295.357,1:28.645,1:17.528,2:09.184,88.645,77.528,129.184
27,1,0,28,238.765,32.720,1:18.014,2:08.031,32.720,78.014,128.031
28,1,0,29,239.659,32.510,1:18.605,2:08.544,32.510,78.605,128.544
29,1,0,30,240.259,32.208,1:17.982,2:10.069,32.208,77.982,130.069
...,...,...,...,...,...,...,...,...,...,...
18103,99,1,302,238.666,38.354,1:31.272,1:49.040,38.354,91.272,109.040
18104,99,1,303,237.837,37.522,1:31.499,1:48.816,37.522,91.499,108.816
18105,99,1,304,239.676,37.712,1:31.516,1:50.448,37.712,91.516,110.448
18106,99,1,305,237.200,37.506,1:30.245,1:49.449,37.506,90.245,109.449
18107,99,1,306,238.352,37.924,1:31.103,1:49.325,37.924,91.103,109.325
18108,99,1,307,237.745,37.530,1:31.023,1:49.192,37.530,91.023,109.192
18109,99,1,308,236.143,37.247,1:30.561,1:48.335,37.247,90.561,108.335
18110,99,1,309,237.643,38.468,1:30.606,1:48.569,38.468,90.606,108.569
18111,99,1,310,237.000,37.598,1:30.284,1:49.118,37.598,90.284,109.118
18112,99,1,311,240.518,38.221,1:30.675,1:51.622,38.221,90.675,111.622
18113,99,1,312,237.875,37.446,1:31.213,1:49.216,37.446,91.213,109.216
18114,99,1,313,246.055,37.947,1:32.118,1:55.990,37.947,92.118,115.990
18115,99,1,314,308.754,1:46.224,1:31.937,1:50.593,106.224,91.937,110.593
18116,99,1,315,239.483,37.713,1:31.832,1:49.938,37.713,91.832,109.938
18117,99,1,316,237.908,37.871,1:31.108,1:48.929,37.871,91.108,108.929
18118,99,1,317,238.371,37.585,1:31.394,1:49.392,37.585,91.394,109.392
18119,99,1,318,237.885,37.724,1:30.830,1:49.331,37.724,90.830,109.331
18120,99,1,319,238.458,37.548,1:31.283,1:49.627,37.548,91.283,109.627
18121,99,1,320,238.782,37.724,1:30.663,1:50.395,37.724,90.663,110.395
18122,99,1,321,238.821,37.530,1:30.854,1:50.437,37.530,90.854,110.437
18123,99,1,322,238.272,37.770,1:30.917,1:49.585,37.770,90.917,109.585
18124,99,1,323,238.532,37.469,1:31.137,1:49.926,37.469,91.137,109.926
18125,99,1,324,241.148,40.946,1:30.551,1:49.651,40.946,90.551,109.651
18126,99,1,325,244.852,37.743,1:30.926,1:56.183,37.743,90.926,116.183
18127,99,1,326,285.991,1:24.307,1:31.400,1:50.284,84.307,91.400,110.284
18128,99,1,327,239.735,37.807,1:31.163,1:50.765,37.807,91.163,110.765
18129,99,1,328,242.652,38.279,1:33.061,1:51.312,38.279,93.061,111.312
18130,99,1,329,240.793,38.006,1:31.790,1:50.997,38.006,91.790,110.997
18131,99,1,330,241.716,38.169,1:31.923,1:51.624,38.169,91.923,111.624
18132,99,1,331,245.524,38.858,1:33.920,1:52.746,38.858,93.920,112.746

In [237]:
df['TTot'] = df['T1Prime'] + df['T2Prime'] + df['T3Prime']

In [239]:
df['diffcheck'] = df['Time']-df['TTot']

### Are my computed times correct?

Let's check the diff between t1+t2+t3-t

In [242]:
print('max: ', np.max(df['diffcheck']))
print('min: ', np.min(df['diffcheck']))

max:  9.09494701773e-13
min:  -4.54747350886e-13