In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from os.path import basename
import os

%matplotlib inline

In [2]:
#Function to fix the time (string)
def fix_time(df):
    '''This function takes the dataframe as an argument and 
    converts the string Lap Time column to be a datetime
    and then converts the datetime column to be a float.
    The function then returns the dataframe with those two
    columns appended to the right'''
    
    # TODO: Check to make sure that the 'Lap Time' column
    #       exists.
    # TODO: Check to make sure that the 'Lap Time' column
    #       is the right format
    
    df = df.assign(dtLapTime = pd.to_datetime('0:0:' + df['Lap Time'] + '0',
                                             exact = False, errors = 'ignore',
                                             format = "%H:%M:%S.%f").apply(lambda x: x.time()))
    df = df.assign(fLapTime = df.dtLapTime.apply(lambda x: ((x.hour * 60 + x.minute) * 60 + x.second) * 1000000 + x.microsecond) / 1000000)
    return df


def get_car_data(df, car_num, max_time):
    # make sure car exists
    # make a default max time val
    return df[(df['Car'] == car_num) & (df['Flag'] == 'Green') & (df['fLapTime'] < max_time)]


def get_cars_data(df, car_nums, max_time, strDfName):
    # make sure car exists
    # make a default max time val
    #df[df['A'].isin([3, 6])]
    df = df[(df['Car'].isin(car_nums)) & (df['Flag'] == 'Green') & (df['fLapTime'] < max_time)].copy()
    df['SetName'] = strDfName
    return df

def get_file_root(s_file_name):
    """trim off the file extension from the end of the path and trim off the path from the beginning of the path"""
    
    # print(os.path.splitext("path_to_file")[0])
    # now you can call it directly with basename
    #print(basename("/a/b/c.txt"))

    s_file_root = basename(os.path.splitext(s_file_name)[0]).replace(" ", "") #s_file_name.rtrim(3)
    
    return s_file_root

In [31]:
#def main():
# Set Paths for Sebring 2018 data

s_path_root = 'C:\\Users\\gator\\Documents\\GitHub\\IMSA2017\\LapData\\2018_sebring\\'

s_path_gt3_p1 = s_path_root + 'GT3 Sebring Practice 1\\GT3 Sebring Practice 1.csv'
s_path_gt3_q = s_path_root + 'GT3 Sebring Quailfying\\GT3 Sebring Quailfying.csv'
s_path_gt3_r1 = s_path_root + 'GT3 Sebring Race 1 Replay\\GT3 Sebring Race 1.csv'
s_path_gt3_r2 = s_path_root + 'GT3 Sebring Race 2\\GT3 Sebring Race 2.csv'

s_path_pc_p1 = s_path_root + 'IPC Sebring Practice 1\\IPC Sebring Practice 1.csv'
s_path_pc_p2 = s_path_root + 'IPC Sebring Practice 2\\IPC Sebring Practice 2.csv'
s_path_pc_q = s_path_root + 'IPC Sebring Qualifying\\IPC Sebring Qualifying.csv'
s_path_pc_r = s_path_root + 'IPC Sebring Race\\IPC Sebring Race.csv'

s_path_ctsc_p1 = s_path_root + 'ICTSC Sebring Practice 1\\ICTSC Sebring Practice 1.csv'
s_path_ctsc_p2 = s_path_root + 'ICTSC Sebring Practice 2\\ICTSC Sebring Practice 2.csv'
s_path_ctsc_p3 = s_path_root + 'ICTSC Sebring Practice 3\\ICTSC Sebring Practice 3.csv'
s_path_ctsc_q = s_path_root + 'ICTSC Sebring Qualifying\\ICTSC Sebring Qualifying.csv'
s_path_ctsc_r = s_path_root + 'ICTSC Sebring Race\\ICTSC Sebring Race.csv'

s_path_wsc_p1 = s_path_root + 'IWSC Sebring Practice 1\\IWSC Sebring Practice 1.csv'
s_path_wsc_p2 = s_path_root + 'IWSC Sebring Practice 2\\IWSC Sebring Practice 2.csv'
s_path_wsc_p3 = s_path_root + 'IWSC Sebring Practice 3\\IWSC Sebring Practice 3.csv'
s_path_wsc_p4 = s_path_root + 'IWSC Sebring Practice 4\\IWSC Sebring Practice 4.csv'
s_path_wsc_q = s_path_root + 'IWSC Sebring Qualifying\\IWSC Sebring Qualifying.csv'
s_path_wsc_r = s_path_root + 'IWSC Sebring Race\\IWSC Sebring Race.csv'


# read in all the data from Sebring 2018

list_of_csv_files = [s_path_gt3_p1, s_path_gt3_q, s_path_gt3_r1, s_path_gt3_r2,
                    s_path_pc_p1, s_path_pc_p2, s_path_pc_q, s_path_pc_r, 
                    s_path_ctsc_p1, s_path_ctsc_p2, s_path_ctsc_p3, s_path_ctsc_q, s_path_ctsc_r,
                    s_path_wsc_p1, s_path_wsc_p2, s_path_wsc_p3, s_path_wsc_p4, s_path_wsc_q, s_path_wsc_r]
df_list = []
for s_file_name in list_of_csv_files:
    df_temp = pd.read_csv(s_file_name)
    df_temp['Source'] = get_file_root(s_file_name)
    df_list.append(df_temp)
    
    
df = fix_time(pd.concat(df_list))

# Set up class lists
classes = ['GS', 'GT3CP', 'GT3G', 'GT3P', 'GTD', 'GTLM', 'LMP3', 'MPC', 'P', 'ST', 'TCR']
iwsc_classes = ['GTD', 'GTLM', 'P']
ictsc_classes = ['GS', 'ST', 'TCR']
ipc_classes = ['LMP3', 'MPC']
gt3_classes =['GT3CP', 'GT3G', 'GT3P']

race_series = {'all':classes, 'iwsc':iwsc_classes, 'ictsc':ictsc_classes, 'ipc':ipc_classes, 'gt3':gt3_classes}
    
    
#main()

In [32]:
df.describe()

,Car,Lap,S01,S02,S03,S04,S05,S06,S07,S08,S09,S10,SP5,SPI,fLapTime
count,23573.000000,23573.000000,23573.000000,23573.000000,23573.000000,23573.000000,23573.000000,23573.000000,23573.000000,23573.000000,23573.000000,23573.000000,23573.000000,23573.000000,23573.000000
mean,77.972596,93.287320,15.312782,6.447251,26.535603,16.139998,28.776277,30.202785,0.604626,11.556587,1.754089,8.708084,147.699482,108.752478,150.226249
std,164.107600,100.609144,53.089786,1.761435,5.222570,2.733691,5.932442,7.845112,0.214961,2.544635,0.842739,56.610775,27.059731,24.919807,136.798256
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.076000
25%,24.000000,11.000000,5.568000,5.568000,24.267000,14.933000,26.231000,27.097000,0.525000,10.509000,1.430000,2.667000,145.908000,106.556000,119.575000
50%,51.000000,38.000000,5.796000,5.888000,25.190000,15.383000,27.147000,28.195000,0.548000,10.950000,1.487000,2.765000,154.695000,116.158000,124.410000
75%,73.000000,171.000000,6.299000,6.571000,26.970000,16.405000,29.090000,30.008000,0.580000,11.967000,1.619000,3.002000,161.165000,120.704000,138.466000
max,912.000000,344.000000,1348.109000,32.526000,147.112000,64.562000,98.031000,128.834000,2.683000,150.793000,10.157000,2687.168000,176.610000,135.579000,4683.863000

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23573 entries, 0 to 12919
Data columns (total 23 columns):
Car             23573 non-null int64
Class           23573 non-null object
Driver          23573 non-null object
Lap             23573 non-null int64
Lap Time        23573 non-null object
Session Time    23573 non-null object
Flag            23573 non-null object
Location        23561 non-null object
S01             23573 non-null float64
S02             23573 non-null float64
S03             23573 non-null float64
S04             23573 non-null float64
S05             23573 non-null float64
S06             23573 non-null float64
S07             23573 non-null float64
S08             23573 non-null float64
S09             23573 non-null float64
S10             23573 non-null float64
SP5             23573 non-null float64
SPI             23573 non-null float64
Source          23573 non-null object
dtLapTime       23573 non-null object
fLapTime        23573 non-null float64
dtypes: float64(13), int64(2), object(8)
memory usage: 4.3+ MB

In [34]:
np.unique(df.Class)

array(['GS', 'GT3CP', 'GT3G', 'GT3P', 'GTD', 'GTLM', 'LMP3', 'MPC', 'P',
       'ST', 'TCR'], dtype=object)

In [35]:
race_series

{'all': ['GS',
  'GT3CP',
  'GT3G',
  'GT3P',
  'GTD',
  'GTLM',
  'LMP3',
  'MPC',
  'P',
  'ST',
  'TCR'],
 'gt3': ['GT3CP', 'GT3G', 'GT3P'],
 'ictsc': ['GS', 'ST', 'TCR'],
 'ipc': ['LMP3', 'MPC'],
 'iwsc': ['GTD', 'GTLM', 'P']}